body {background-image: url("C:/Users/Emerson/Documents/repos/Project-Sign-up-Form/images/plant.avif");
    background-repeat: no-repeat;
display: flex;
flex-direction: row;
align-content: center;
background-color: rgb(240, 240, 240);
}


.rightPanel {
    background-color: white;
    width: 64.1vw;
    position: absolute;
    top: 35%;
    right: 0%;
    
}

img#bannerImage {
    height: 150px;
    opacity: 1.0;
}

@font-face {
    font-family: Norse;
    src: url('./fonts/Norse-Bold.otf');
}

.leftBanner{
    font-family: Norse;
    font-size: 4em;
    color: white;
    align-self: center;
    opacity: 1.0;
}

.leftBannerContainer{
    background-color:rgba(0, 0, 0, 0.3);
    width: 35.9vw;
   height: 10vw;
   display: flex;
   justify-content: center;
   align-items: baseline;
   position: absolute;
   top: 35%;

}

.prompt {
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 3vw;
    padding-right: 5vw;
}

.createAccount {
   background-color: rgb(54, 126, 32);
   color: white;
   font-size: 1.3em;
}